
/* A */
.contenedor {
    background-color: rgb(12, 78, 164);
    color: white;
    font-weight: bold;
    font: italic;
    max-width: 200px;
    padding-bottom: 10px;
}

.contenedor a {
    color: white;
    text-decoration: none;
}

.contenedor>h2 {
    padding: 7px 0px 5px 17px;
    margin-bottom: 0px;
}

.contenedor>ul {
    border-left: 1px solid grey;
    margin: 0px 0px 0px 7px;
    padding: 5px 0px 5px 25px;
}

.contenedor>ul>li {
    list-style-image: url(../img/arrow-menu.png);
    margin-bottom: 5px;
    padding-left: 5px;
}

/* B */
div.banner{
    margin-top: 10px;
    background-image: url(../img/banner_skills_2016.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 250px;
    width: 199px;
}
div.enlaceInformacion > p{
    margin-top: -71px;
    border-radius: 5px;
    background-color: white;
    padding: 7px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 115px;
    margin-left: 6px;
    text-align: center;
}
div.enlaceInformacion > p a{
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: smaller;
    padding: 2px;
}


/* C */
nav.menu1{
    width: 300px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 50px;    
}
nav.menu1:hover ul{
    opacity: 1;
}
nav.menu1 h2{
    background-color: rgb(12, 12, 181);
    margin-bottom: 0;
    font-size: 18px;
    padding: 8px 4px;
}

nav.menu1>ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    font-size: 16px;
    opacity: 0%;
}

nav.menu1 > ul > li{
    background-color: rgb(123, 123, 216);
    border-bottom: 1px solid white;
    padding: 8px 4px;
    background-image: url(./../img/arrow-menu.png);
    background-repeat: no-repeat;
    background-position: 280px center;
}

nav.menu1 > ul >li:hover{
    background-color: rgb(70, 70, 107);
}
/* C */
div.blanco{
    width: 500px;
    height: 115px;
    background-color: rgb(255, 255, 255, 0.80);
}
div.runner{
    background-image: url(../img/corriendo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 115px;
    margin-bottom: 10px;
}

div.runner>div h2{
    font-size: 12px;
    font-weight: bolder;
    color: green;
    padding-top: 5px;
    padding-left: 5px;
}
div.runner>div p{
    font-size: 20px;
    font-weight: bolder;
    color: gray;
}
/* D */
div.enlace{
    margin-top: 10px;
    border-top: 1px solid grey;
}
div.enlace div{
    background-color: rgb(68, 102, 114);
    width: max-content;
    padding: 5px;
}
div.enlace div a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
/* E */
div.videos{
    border-bottom: 1px solid rgb(5, 5, 59);
    margin-top: 0;
}
div.videos h2{
    display: inline-block;
    border-right: 1px solid blue;
    margin-right: 5px;
    padding-right: 5px;
    margin-bottom:5px;
    color:darkblue;
    font-weight: bolder;
    font-size: 20px;
}
div.videos a{
    text-decoration: none;
    font-size: small;
    color: rgb(5, 5, 59);
}
/* F */
div.ratonEncima>nav{
    margin-top: 10px;
    display: inline-block;
}
div.ratonEncima>nav:nth-child(1){
    background-color: grey ;
    color: white;
    padding: 5px 5px;
    margin-right: 5px;
}
div.ratonEncima>nav:nth-child(2){
    background-color: blue ;
    color: white;
    padding: 5px 5px;
    margin-right: 5px;
}
div.ratonEncima>nav:nth-child(3){
    background-color: grey ;
    color: white;
    padding: 5px 5px;
}
div.ratonEncima>nav:nth-child(1):hover{
background-color: lightgray;
}
div.ratonEncima>nav:nth-child(2):hover{
    background-color: lightblue;
}
div.ratonEncima>nav:nth-child(3):hover{
    background-color: lightgray;
}
/* H */
nav.menu2{
    width: max-content;
}
nav.menu2 h2{
    color: grey;
    font-size: 20px;
    border-bottom: 2px solid grey;
    width: max-content;
    padding: 5px;
    margin-bottom: 0;
}
nav.menu2 h2 span{
    font-size: 10px;
}

nav.menu2 ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    height: 0;
    overflow: hidden;
}
nav.menu2 ul li a {
    font-size: 15px;
    color: grey;
    font-weight: bolder;
    text-decoration: none;
}
nav.menu2 ul li{
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
nav.menu2 ul li:hover{
    background-color: grey;
}
nav.menu2 ul li:hover a{
    color: white;
}
nav.menu2:hover ul{
    height: auto;
    border-bottom: 3px solid grey;
}
nav.menu2:hover h2{
    border-color: green;
    color: green;
}
