body{
    margin-top: 20px;
}
.botones>span {
    color: white;
    background-color: blue;
    padding: 8px;
    margin: 5px;
    border: 3px outset rgb(2, 2, 83);
}
.botones>span:hover{
    background-color: grey;
    cursor: pointer;
    border-style: inset;
}
div.bordes{
    margin: auto;
    margin-top: 50px;
    width: 100px;
}
div.bordes div{
    border: 5px solid #48ec51;
}
div.bordes>div>div>div>div>div>div>div>div>div>div{
    border-color: #befcc2;
}
div.bordes>div>div>div>div>div>div>div>div>div{
    border-color: #b4fac0;
}
div.bordes>div>div>div>div>div>div>div>div{
    border-color: #a8f7b1;
}
div.bordes>div>div>div>div>div>div>div{
    border-color: #91ea84;
}
div.bordes>div>div>div>div>div>div>{
    border-color: #48ec51;
}
div.bordes>div>div>div>div>div{
    border-color: #30d21e;
}
div.bordes>div>div>div>div{
    border-color: #30ae1e;
}
div.bordes>div>div>div{
    border-color: #10830a;
}
div.bordes>div>div{
    border-color: #0d490c;
}
div.bordes>div{
    border-color: #072707;
}
.A{
    background-color: rgba(255, 166, 0, 0.493);
    margin: auto;
    margin-top: 40px;
    width: 300px;
    padding: 60px;
    color: grey;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 20px;
}
.imagenes{
    margin-top: 50px;
    text-align: center;    
}
.imagenes img{
    margin-left: 40px;
    border-radius: 50%;
    border: 10px solid rgb(170, 170, 227);
}
nav{
    background-color: rgb(0, 204, 255);
    margin-top: 20px;
    text-align: right;
}
nav a{
    border-left: 2px solid black;
}
nav a:hover{
    border-left: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-variant: small-caps;
    color: black;
    font-weight: italic;    
}
body{
    background-image: url(./../img/contacto.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

