div.caja{
    width: 200px;
    height: 200px;
    box-shadow: 1px 0px 6px #928888;
    margin: auto;
    overflow: hidden;
}
div.caja img{
animation: animar 20s infinite;
}
@keyframes animar {
    0%{
        transform: rotate(180deg) translate(205px, 450px) ; 
    }
    20%{
        transform: rotate(180deg) translate(90px, 270px);
    }
    40%{
        transform: rotate(0deg) translate(-20px, -355px);
    }
    60%{
        transform: rotate(270deg) translate(334px, -80px);
    }
    80%{
        transform: rotate(360deg) translate(-247px, -265px);
    }
    100%{
        transform: rotate(270deg) translate(140px, -380px);
    }
    
}
/*
iphone 4
transform: rotate(180deg) translate(205px, 450px) ;
icloud
transform: rotate(180deg) translate(90px, 270px);
camera
transform: rotate(0deg) translate(-20px, -355px);
ios
transform: rotate(270deg) translate(334px, -80px);
siri
transform: rotate(360deg) translate(-247px, -265px);
dual
transform: rotate(270deg) translate(140px, -380px);
*/