.morado{
    background-color: #c494ff;
}
.azul{
    background-color: #adc6ff;
}
.verde{
    background-color: #b6ff90;
}
.amarillo{
    background-color: #ffff93;
}
.naranja{
    background-color: #ffc184;
}
.rojo{
    background-color: #ff9a9a;
}
.rosa{
    background-color: #ff97c3;
}
.violeta{
    background-color: #ffaef9;
}
.marron{
    background-color: #e1e09e;
}
.azulclaro{
    background-color: #87ffd7;
}