body {
  margin: 40px;
  background-color: #5d5d5d;
}
.wrapper {
  border: 49px solid #462921;
  width: 560px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: 40px repeat(8, 70px) 40px;
  background-color: #462921;
}
.wrapper-inner {
  display: grid;
  grid-template-columns: repeat(8, auto);
  background-color: #b5915f;
}


.box-inner {
  text-align: center;
  align-self: center;
}
.top,
.bottom {
  display: grid;
}
.top {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}
.bottom {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 10;
}
.box{
  background-color: #7d694c;
}
.box:nth-child(3){
  background-color: #441a03;
}
.box:nth-child(5){
  background-color: #441a03;
}
.box:nth-child(7){
  background-color: #441a03;
}
.box:nth-child(9){
  background-color: #441a03;
}
.box:nth-child(10){
  background-color: #441a03;
}
.box:nth-child(12){
  background-color: #441a03;
}
.box:nth-child(14){
  background-color: #441a03;
}
.box:nth-child(16){
  background-color: #441a03;
}
.box:nth-child(19){
  background-color: #441a03;
}
.box:nth-child(21){
  background-color: #441a03;
}
.box:nth-child(23){
  background-color: #441a03;
}
.box:nth-child(25){
  background-color: #441a03;
}
.box:nth-child(26){
  background-color: #441a03;
}
.box:nth-child(28){
  background-color: #441a03;
}
.box:nth-child(30){
  background-color: #441a03;
}
.box:nth-child(32){
  background-color: #441a03;
}
.box:nth-child(35){
  background-color: #441a03;
}
.box:nth-child(37){
  background-color: #441a03;
}
.box:nth-child(39){
  background-color: #441a03;
}
.box:nth-child(41){
  background-color: #441a03;
}
.box:nth-child(42){
  background-color: #441a03;
}
.box:nth-child(44){
  background-color: #441a03;
}
.box:nth-child(46){
  background-color: #441a03;
}
.box:nth-child(48){
  background-color: #441a03;
}
.box:nth-child(51){
  background-color: #441a03;
}
.box:nth-child(53){
  background-color: #441a03;
}
.box:nth-child(55){
  background-color: #441a03;
}
.box:nth-child(57){
  background-color: #441a03;
}
.box:nth-child(58){
  background-color: #441a03;
}
.box:nth-child(60){
  background-color: #441a03;
}
.box:nth-child(62){
  background-color: #441a03;
}
.box:nth-child(64){
  background-color: #441a03;
}